<a href="https://colab.research.google.com/github/Hk05101/Cognitive-Computing/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
data={
    'Tid':[1,2,3,4,5,6,7,8,9,10],
    'Refund':['yes','no','no','yes','no','no','yes','no','no','no'],
    'Marital Status':['Single','Married','Single','Married','Divorced','Married','Divorced','Single','Married','Single'],
    'Taxable Income':['125K','100K','70K','120K','95K','60K','220K','85K','75K','90K'],
    'Cheat':['no','no','no','no','yes','no','no','yes','no','yes']
}
df=pd.DataFrame(data)
print(df)

   Tid Refund Marital Status Taxable Income Cheat
0    1    yes         Single           125K    no
1    2     no        Married           100K    no
2    3     no         Single            70K    no
3    4    yes        Married           120K    no
4    5     no       Divorced            95K   yes
5    6     no        Married            60K    no
6    7    yes       Divorced           220K    no
7    8     no         Single            85K   yes
8    9     no        Married            75K    no
9   10     no         Single            90K   yes

In [3]:
print(df.iloc[0])
print(df.iloc[4])
print(df.iloc[7])
print(df.iloc[8])

Tid                    1
Refund               yes
Marital Status    Single
Taxable Income      125K
Cheat                 no
Name: 0, dtype: object
Tid                      5
Refund                  no
Marital Status    Divorced
Taxable Income         95K
Cheat                  yes
Name: 4, dtype: object
Tid                    8
Refund                no
Marital Status    Single
Taxable Income       85K
Cheat                yes
Name: 7, dtype: object
Tid                     9
Refund                 no
Marital Status    Married
Taxable Income        75K
Cheat                  no
Name: 8, dtype: object

In [4]:
print(df.iloc[4:9,2:5])
print(df.iloc[:,1:4])

  Marital Status Taxable Income Cheat
4       Divorced            95K   yes
5        Married            60K    no
6       Divorced           220K    no
7         Single            85K   yes
8        Married            75K    no
  Refund Marital Status Taxable Income
0    yes         Single           125K
1     no        Married           100K
2     no         Single            70K
3    yes        Married           120K
4     no       Divorced            95K
5     no        Married            60K
6    yes       Divorced           220K
7     no         Single            85K
8     no        Married            75K
9     no         Single            90K

In [14]:
df=pd.read_csv('/content/Iris.csv')
print(df.head())
df.drop(df.columns[2],axis=1,inplace=True)
df.drop(3,axis=0,inplace=True)
print(df)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
      Id  SepalLengthCm  PetalLengthCm  PetalWidthCm         Species
0      1            5.1            1.4           0.2     Iris-setosa
1      2            4.9            1.4           0.2     Iris-setosa
2      3            4.7            1.3           0.2     Iris-setosa
4      5            5.0            1.4           0.2     Iris-setosa
5      6            5.4            1.7           0.4     Iris-setosa
..   ...            ...            ...           ...             ...
145  146            6.7            5.2           2.3  Iris-virginica
146  147            6.3            5.0           1.9  Iris-virginica
147  148            6.5            5.2           2.0  Iris-virginica
148  149            6.2            5.4           2.3  Iris-virginica
149  150            5.9            5.1           1.8  Iris-virginica

[149 rows x 5 columns]

In [15]:
data={
    'Employee_ID':[101,102,103,104,105],
    'Name':['Alice','Bob','Charlie','Diana','Edward'],
    'Department':['HR','IT','IT','Marketing','Sales'],
    'Age':[29,34,41,28,38],
    'Salary':[50000,70000,65000,55000,60000],
    'Years_of_Experience':[4,8,10,3,2],
    'Joining_Date':['2020-03-15','2017-07-19','2013-06-01','2021-02-10','2010-11-25'],
    'Gender':['Female','male','male','Female','male',],
    'Bonus':[5000,7000,6000,4500,5000],
    'Rating':[4.5,4.0,3.8,4.7,3.5]
}
emp=pd.DataFrame(data)
print(emp)

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                    2

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    male   7000     4.0
2   2013-06-01    male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    male   5000     3.5

emp.shape
emp.info() #information including columns and all
emp.describe()
emp.head(5)

In [17]:
emp.tail(3)

,Employee_ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating
2,103,Charlie,IT,41,65000,10,2013-06-01,male,6000,3.8
3,104,Diana,Marketing,28,55000,3,2021-02-10,Female,4500,4.7
4,105,Edward,Sales,38,60000,2,2010-11-25,male,5000,3.5

In [18]:
emp.describe()

,Employee_ID,Age,Salary,Years_of_Experience,Bonus,Rating
count,5.000000,5.000000,5.00000,5.000000,5.0,5.000000
mean,103.000000,34.000000,60000.00000,5.400000,5500.0,4.100000
std,1.581139,5.612486,7905.69415,3.435113,1000.0,0.494975
min,101.000000,28.000000,50000.00000,2.000000,4500.0,3.500000
25%,102.000000,29.000000,55000.00000,3.000000,5000.0,3.800000
50%,103.000000,34.000000,60000.00000,4.000000,5000.0,4.000000
75%,104.000000,38.000000,65000.00000,8.000000,6000.0,4.500000
max,105.000000,41.000000,70000.00000,10.000000,7000.0,4.700000

In [19]:
average_salary=emp['Salary'].mean()
print(average_salary)
emp['Bonus'].sum()

60000.0

np.int64(27500)

In [20]:
print(emp['Age'].min())
print(emp['Rating'].max())

28
4.7

In [21]:
emp.sort_values(by='Salary',ascending=False)

,Employee_ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating
1,102,Bob,IT,34,70000,8,2017-07-19,male,7000,4.0
2,103,Charlie,IT,41,65000,10,2013-06-01,male,6000,3.8
4,105,Edward,Sales,38,60000,2,2010-11-25,male,5000,3.5
3,104,Diana,Marketing,28,55000,3,2021-02-10,Female,4500,4.7
0,101,Alice,HR,29,50000,4,2020-03-15,Female,5000,4.5

In [22]:
def categorise(Rating):
    if(Rating>=4.5):
        return 'Excellent'
    elif(Rating>=4.0 and Rating<4.5):
        return 'good'
    else:
        return 'average'

g=emp['Rating'].apply(categorise)
g

0    Excellent
1         good
2      average
3    Excellent
4      average
Name: Rating, dtype: object

print(emp.isna())
print(emp.isna().sum())

In [25]:
emp.rename(columns={'EmployeeID': 'ID'}, inplace=True)
def experience(Years_of_Experience):
    if Years_of_Experience>5:
        return 1
    else:
        return 0
x=emp['Years_of_Experience'].apply(experience).sum()
x

np.int64(2)

In [26]:
filtered=emp[(emp['Years_of_Experience']>5 ) & (emp['Department']=='IT')]
filtered

,Employee_ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating
1,102,Bob,IT,34,70000,8,2017-07-19,male,7000,4.0
2,103,Charlie,IT,41,65000,10,2013-06-01,male,6000,3.8

In [27]:
def tax(Salary):
    Salary=Salary-(0.1*Salary)

y=emp['Salary'].apply(tax)
y

0    None
1    None
2    None
3    None
4    None
Name: Salary, dtype: object

In [28]:
emp['Tax']=emp['Salary']*0.9
emp

,Employee_ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating,Tax
0,101,Alice,HR,29,50000,4,2020-03-15,Female,5000,4.5,45000.0
1,102,Bob,IT,34,70000,8,2017-07-19,male,7000,4.0,63000.0
2,103,Charlie,IT,41,65000,10,2013-06-01,male,6000,3.8,58500.0
3,104,Diana,Marketing,28,55000,3,2021-02-10,Female,4500,4.7,49500.0
4,105,Edward,Sales,38,60000,2,2010-11-25,male,5000,3.5,54000.0

In [29]:
emp.to_csv('modified_employees.csv', index=False)


print("The modified DataFrame has been saved to 'modified_employees.csv'.")

The modified DataFrame has been saved to 'modified_employees.csv'.