<a href="https://colab.research.google.com/github/Hk05101/Cognitive-Computing/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
L=[10,20,30,40,50,60,70,80]
print("The og list is",L)
L.append(200)
L.append(300)
print("After adding 200 qnd 300",L)
del L[0]
del L[2]
print("The list after deleting 10 nd 30 is",L)
L.sort()
print("Ascending order",L)
L.sort(reverse=True)
print("Descending order",L)

The og list is [10, 20, 30, 40, 50, 60, 70, 80]
After adding 200 qnd 300 [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
The list after deleting 10 nd 30 is [20, 30, 50, 60, 70, 80, 200, 300]
Ascending order [20, 30, 50, 60, 70, 80, 200, 300]
Descending order [300, 200, 80, 70, 60, 50, 30, 20]

In [2]:
tup=(45,89.5,76,45.4,89,92,58,45)
m=max(tup)
i=tup.index(m)
print(i)
l=min(tup)
tup.count(l)
tup[::-1]
l=list(tup)
print(l)

5
[45, 89.5, 76, 45.4, 89, 92, 58, 45]

In [3]:
import random as r
count=0
count1=0
random_num=[r.randint(100,900) for _ in range(100)]
print(random_num)
for i in range(len(random_num)):
    if(random_num[i]%2==0):
        print("Even number:",random_num[i])
        count1=count1+1
    else:
        print("odd number:",random_num[i])
        count=count+1

print("Odd numbers are",count)
print("Even numbers are",count1)

[863, 392, 543, 188, 797, 212, 580, 503, 801, 819, 451, 605, 690, 144, 224, 130, 205, 328, 886, 675, 372, 503, 458, 569, 269, 440, 572, 567, 660, 695, 621, 713, 502, 388, 242, 184, 658, 753, 602, 407, 390, 327, 599, 783, 489, 592, 437, 554, 208, 855, 776, 351, 109, 566, 161, 578, 468, 493, 674, 342, 702, 151, 380, 478, 791, 750, 815, 390, 132, 582, 406, 368, 123, 444, 287, 691, 265, 395, 301, 821, 231, 865, 503, 707, 644, 509, 426, 840, 419, 463, 109, 333, 869, 243, 480, 777, 185, 438, 897, 647]
odd number: 863
Even number: 392
odd number: 543
Even number: 188
odd number: 797
Even number: 212
Even number: 580
odd number: 503
odd number: 801
odd number: 819
odd number: 451
odd number: 605
Even number: 690
Even number: 144
Even number: 224
Even number: 130
odd number: 205
Even number: 328
Even number: 886
odd number: 675
Even number: 372
odd number: 503
Even number: 458
odd number: 569
odd number: 269
Even number: 440
Even number: 572
odd number: 567
Even number: 660
odd number: 695
odd number: 621
odd number: 713
Even number: 502
Even number: 388
Even number: 242
Even number: 184
Even number: 658
odd number: 753
Even number: 602
odd number: 407
Even number: 390
odd number: 327
odd number: 599
odd number: 783
odd number: 489
Even number: 592
odd number: 437
Even number: 554
Even number: 208
odd number: 855
Even number: 776
odd number: 351
odd number: 109
Even number: 566
odd number: 161
Even number: 578
Even number: 468
odd number: 493
Even number: 674
Even number: 342
Even number: 702
odd number: 151
Even number: 380
Even number: 478
odd number: 791
Even number: 750
odd number: 815
Even number: 390
Even number: 132
Even number: 582
Even number: 406
Even number: 368
odd number: 123
Even number: 444
odd number: 287
odd number: 691
odd number: 265
odd number: 395
odd number: 301
odd number: 821
odd number: 231
odd number: 865
odd number: 503
odd number: 707
Even number: 644
odd number: 509
Even number: 426
Even number: 840
odd number: 419
odd number: 463
odd number: 109
odd number: 333
odd number: 869
odd number: 243
Even number: 480
odd number: 777
odd number: 185
Even number: 438
odd number: 897
odd number: 647
Odd numbers are 54
Even numbers are 46

In [4]:
import random as r
random_num = [r.randint(100, 900) for _ in range(100)]
print(random_num)
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, (num // 2) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers = [num for num in random_num if is_prime(num)]
print("Prime numbers in the list:", prime_numbers)

[732, 435, 343, 779, 283, 434, 895, 335, 693, 506, 412, 391, 394, 825, 797, 206, 499, 712, 480, 778, 301, 501, 692, 632, 454, 610, 662, 604, 604, 392, 508, 407, 266, 305, 228, 644, 466, 496, 589, 438, 738, 223, 722, 732, 362, 478, 135, 387, 252, 618, 378, 438, 652, 767, 238, 852, 875, 408, 307, 689, 100, 673, 572, 489, 118, 883, 474, 613, 196, 238, 221, 689, 435, 115, 876, 130, 669, 770, 816, 718, 357, 842, 396, 133, 401, 892, 641, 172, 562, 710, 405, 381, 286, 480, 840, 395, 262, 652, 162, 465]
Prime numbers in the list: [283, 797, 499, 223, 307, 673, 883, 613, 401, 641]

In [5]:
A={34,56,78,90}
B={78,45,90,23}
print("scores that are Union ",A.union(B))
print("Scores that are intersection are",A.intersection(B))
print("Scores that are exclusive are",A.symmetric_difference(B))

num=int(input("Please enter a number"))
if num in A:
    A.remove(num)
else:
    print("Number not in A")

print(A)

scores that are Union  {34, 45, 78, 23, 56, 90}
Scores that are intersection are {90, 78}
Scores that are exclusive are {34, 45, 23, 56}
Please enter a number45
Number not in A
{56, 34, 90, 78}

In [6]:
A={34,56,78,90}
B={78,45,90,23}
print(A.issubset(B))
print(B.issuperset(A))

False
False

In [7]:
sample_dict = {"name": "kelly", "age": 25, "salary": 8000, "city": "New York"}
if "city" in sample_dict:
    sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}