Ques 1

In [2]:
print("Harnoor Kaur")
print("Harnoor Kaur")
print("Harnoor Kaur")

Harnoor Kaur
Harnoor Kaur
Harnoor Kaur

Ques 2

In [3]:
a=3
b=4
c=5
print(a+b+c)

12

In [5]:
i='God '
j='is '
k='omnipresent'
print(i+j+k)

God is omnipresent

Ques 3

In [8]:
for i in range(1,11):
	print (7," * ", i , " = ", i * 7)
print("                             ")
for i in range(1,11):
	print (9," * ", i , " = ", i * 9)

7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70

9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90

In [9]:
n=input("Enter the table you want to print: ")
for i in range(1,11):
	print (n," * ", i , " = ", i * int(n))

Enter the table you want to print: 8
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
8  *  10  =  80

In [13]:
n = int(input("Enter the number: "))
sum= 0
for i in range(1, n + 1):
  sum+= i
print(sum)

Enter the number: 7
28

Ques 4

In [8]:
a= int(input("Enter first number: "))
b= int(input("Enter second number: "))
c= int(input("Enter third number: "))
maximum = max(a,b,c)
print("maximum number is:", maximum)

Enter first number: 5
Enter second number: 6
Enter third number: 8
maximum number is: 8

In [5]:
def sum1(n):
  sum2=0
  for i in range(1,n+1):
    if i % 7 == 0 and i % 9 == 0:
      sum2+= i
  return sum2

n=int(input("Enter the value of n: "))
print(sum1(n))

Enter the value of n: 56
0

In [4]:
def is_prime(num):
    if num<=1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def sum(n):
    total=0
    for i in range(2, n + 1):
        if is_prime(i):
            total += i
    return total

n = int(input("Enter the value of n: "))
print(sum(n))

Enter the value of n: 56
381

In [6]:
def sum(n):
  total = 0
  for i in range(1,n+1,2):
    total += i
  return total

n = int(input("Enter the value of n: "))
print(sum(n))

Enter the value of n: 56
784